@font-face {
  font-family: "Helvetica";
  src: "./font/HelveticaNowVar.woff2" format("woff2-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
body{
  font-family: 'Helvetica', sans-serif;
  background-color: #F0F0F1;
  color: #191818;
}

:root {
  --bg-color: #F0F0F1;
  --black: #191818;
  --light-grey:#C5C5C5;
  --medium-grey:#E5E5E5;
  --dark-grey:#4C4C4C;
}
.dot {
  background-color:#45D764;
  width:14px; 
  height:14px;
  display: inline-block;
  animation: blink 2s infinite ease-in-out;
}
.tag-scroll{
  scrollbar-width: none;

}

.title-1{
  font-size:5rem;
  font-weight:400;
  letter-spacing:-0.35rem; 
  line-height:110px;
}

.title-2{
  font-size:11rem;
  font-weight:500; 
  letter-spacing:-0.68rem;
  line-height:100px;
}
/* Respecte la préférence d’utilisateur */
@media (prefers-reduced-motion: reduce) {
  .dot { animation: none; opacity: 1; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50%      { opacity: 0.2; }  /* intensité du “clignotement” */
}
.scroll-bar {
  scrollbar-width: none;
}

.lebord {
  border-top-width: 2px;
  border-color: white;
}

.cardprojet{
  width:35vw;
}

@media (min-width: 1280px) and (max-width: 2000px){




.cardprojet{
  width:35vw;
}
  h2 {
    font-family: 'Helvetica';
    font-weight: 520;
    font-size: 48px;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.1rem;

  }
  
  h1 {
    font-family: 'Helvetica';
    
  }
  
  p {
    line-height: 1.1;
  
  }

  
  .expo {
    font-family: 'Helvetica';
    font-size: 20px;
    font-style: italic;
    vertical-align: 20px;
        font-weight: 400;

  }
  
  h4 {
    font-family: 'Helvetica';
    font-weight: 510;
    font-size: 180px;
    color: var(--medium-grey);
  }
  
  .bg-port {
    z-index: -1;
  }
  
  .bord {
    border: 1px solid black;
  }
  
  .info{
    line-height: 1.1;
  
  }
}

@media (min-width: 1024px) and (max-width: 1280px){
.cardprojet{
  width:35vw;
}
  h2 {
    font-family: 'Helvetica';
    font-size: 60px;
    line-height: 1;
    text-align: center;
    width: 40%;
  }
  
  h1 {
    font-family: 'Helvetica';
    
  }
  
  p {
    line-height: 1.1;
  
  }
  
  .expo {
    font-size: 20px;
    font-family: 'Helvetica';
    font-family: italic;
    vertical-align: 20px;
        font-weight: 400;

  }
  
  h4 {
    font-family: 'Helvetica';
    font-weight: 550;
    font-size: 160px;
    color: var(--medium-grey);
  }
  
  .bg-port {
    z-index: -1;
  }
  
  .bord {
    border: 1px solid black;
  }
  
  .info{
    line-height: 1.1;
  
  }
}


@media (min-width: 768px) and (max-width: 1024px) { 
.cardprojet{
  width:35vw;
}
  h2 {
    font-family: 'Helvetica';
    font-weight: 520;
    font-size: 40px;
    letter-spacing: -0.1rem;
    line-height: 1;
    text-align: center;
  }
  
  h1 {
    font-family: 'Helvetica';
    
  }
  
  p {
    line-height: 1.1;
  
  }
  
  .expo {
font-family: 'Helvetica';
    font-size: 20px;
    font-style: italic;
    vertical-align: 20px;
        font-weight: 400;

  }
  
  h4 {
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 120px;
    color: #EBEBEB;
  }
  
  .bg-port {
    z-index: -1;
  }
  
  .bord {
    border: 1px solid black;
  }
  
  .info{
    line-height: 1.1;
  
  }
    .title-1{
  font-size:2rem;
  font-weight:420;
  letter-spacing:-0.2rem; 
  line-height:70px;
}
.title-2{
  font-size:4rem;
  font-weight:520; 
  letter-spacing:-0.25rem;
  line-height:10px;
}

 }

 @media (min-width: 360px) and (max-width: 768px) { 

  .title-1{
  font-size:2rem;
  font-weight:420;
  letter-spacing:-0.2rem; 
  line-height:70px;
}
.title-2{
  font-size:4rem;
  font-weight:520; 
  letter-spacing:-0.25rem;
  line-height:10px;
}
  .nav-mob{
    display: none;
  }
.cardprojet{
  width:80vw;
}
  h2 {
    font-family: 'Helvetica';
    font-weight: 520;
    font-size: 40px;
    letter-spacing: -0.1rem;
    line-height: 1;
    text-align: center;
  }
  
  h1 {
    font-family: 'Helvetica';
    
  }
  
  p {
    line-height: 1.1;
  
  }
  
  .expo {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    vertical-align: 10px;
  }
  
  h4 {
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 60px;
    color: #EBEBEB;
  }
  
  .bg-port {
    z-index: -1;
  }
  
  .bord {
    border: 1px solid black;
  }
  
  .info{
    line-height: 1.1;
  
  }
 }
