@font-face {
  font-family: 'avara';
  src: url(./font/Avara-Bold.ttf),
  url(./font/Avara-Bold.woff),
  url(./font/Avara-Bold.woff2);
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica'), url('./font/Helvetica.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Helvetica Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Oblique'), url('./font/Helvetica-Oblique.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Helvetica Compressed';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Compressed'), url('./font/helvetica-compressed-5871d14b6903a.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Helvetica Rounded Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Rounded Bold'), url('./font/helvetica-rounded-bold-5871d05ead8de.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica'), url('./font/Helvetica-Bold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Helvetica Bold Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Bold Oblique'), url('./font/Helvetica-BoldOblique.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Helvetica Light';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Light'), url('./font/helvetica-light-587ebe5a59211.woff') format('woff');
  }


@media (min-width: 1280px) and (max-width: 2000px){

  h2 {
    font-family: 'avara';
    font-size: 60px;
    line-height: 1;
    text-align: center;
    width: 40%;
  }
  
  h1 {
    font-family: 'Helvetica';
    
  }
  
  p {
    line-height: 1.1;
  
  }
  
  .expo {
    font-family: serif;
    font-size: 20px;
    font-style: italic;
    vertical-align: 20px;
  }
  
  h4 {
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 180px;
    color: #EBEBEB;
  }
  
  .bg-port {
    z-index: -1;
  }
  
  .bord {
    border: 1px solid black;
  }
  
  .info{
    line-height: 1.1;
  
  }
}

@media (min-width: 1024px) and (max-width: 1280px){

  h2 {
    font-family: 'avara';
    font-size: 60px;
    line-height: 1;
    text-align: center;
    width: 40%;
  }
  
  h1 {
    font-family: 'Helvetica';
    
  }
  
  p {
    line-height: 1.1;
  
  }
  
  .expo {
    font-family: serif;
    font-size: 20px;
    font-style: italic;
    vertical-align: 20px;
  }
  
  h4 {
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 160px;
    color: #EBEBEB;
  }
  
  .bg-port {
    z-index: -1;
  }
  
  .bord {
    border: 1px solid black;
  }
  
  .info{
    line-height: 1.1;
  
  }
}


@media (min-width: 768px) and (max-width: 1024px) { 
  h2 {
    font-family: 'avara';
    font-size: 60px;
    line-height: 1;
    text-align: center;
    width: 40%;
  }
  
  h1 {
    font-family: 'Helvetica';
    
  }
  
  p {
    line-height: 1.1;
  
  }
  
  .expo {
    font-family: serif;
    font-size: 20px;
    font-style: italic;
    vertical-align: 20px;
  }
  
  h4 {
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 120px;
    color: #EBEBEB;
  }
  
  .bg-port {
    z-index: -1;
  }
  
  .bord {
    border: 1px solid black;
  }
  
  .info{
    line-height: 1.1;
  
  }

 }

 @media (min-width: 360px) and (max-width: 768px) { 

  h2 {
    font-family: 'avara';
    font-size: 40px;
    line-height: 1;
    text-align: center;
    width: 100%;
  }
  
  h1 {
    font-family: 'Helvetica';
    
  }
  
  p {
    line-height: 1.1;
  
  }
  
  .expo {
    font-family: serif;
    font-size: 16px;
    font-style: italic;
    vertical-align: 10px;
  }
  
  h4 {
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 60px;
    color: #EBEBEB;
  }
  
  .bg-port {
    z-index: -1;
  }
  
  .bord {
    border: 1px solid black;
  }
  
  .info{
    line-height: 1.1;
  
  }
 }
